Desktop/ghl-n8n-revenue-tracking-system/n8n-workflows/Booked Appointment Workflow.json
{
  "name": "Booked Appointment Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "35421d93-35d0-4488-b8fd-613f73af605f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4feaea6a-8b99-4e33-8574-cc54008b1398",
      "name": "Webhook",
      "webhookId": "35421d93-35d0-4488-b8fd-613f73af605f"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwsPTyK7XcrlPhd",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appwsPTyK7XcrlPhd"
        },
        "table": {
          "__rl": true,
          "value": "tblXQ2yKH0FBNszUg",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appwsPTyK7XcrlPhd/tblXQ2yKH0FBNszUg"
        },
        "filterByFormula": "={GHL Contact ID} = \"{{ $json.body.contact_id }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "98d38d2c-9bcd-4ec5-a250-7a63a6cf47e9",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblevDCN71vXygMBk",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblevDCN71vXygMBk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cash Collected": 0,
            "id": "={{ $json.id }}",
            "Lead Status": "Booked",
            "Booked Call Date": "={{ $('Webhook').item.json.body.calendar.startTime.toDateTime().format('yyyy-MM-dd') }}",
            "Lead Name": "={{ $('Webhook').item.json.body.full_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad",
              "displayName": "Ad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Ongoing Convo",
                  "value": "Ongoing Convo"
                },
                {
                  "name": "No Answer",
                  "value": "No Answer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked Call Date",
              "displayName": "Booked Call Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Outcome",
              "displayName": "Call Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Closed Status",
              "displayName": "Closed Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Won",
                  "value": "Won"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Open",
                  "value": "Open"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cash Collected",
              "displayName": "Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Notes",
              "displayName": "Call Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Qualified",
              "displayName": "Is Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Booked",
              "displayName": "Is Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Showed",
              "displayName": "Is Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Closed",
              "displayName": "Is Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Answer",
              "displayName": "Is No Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Lost",
              "displayName": "Is Lost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Show",
              "displayName": "Is No Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Ongoing",
              "displayName": "Is Ongoing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "ba4ca1c7-da70-441b-b7c5-6faaa23bb560",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6ef6bd25-46c2-461b-a13f-3434858bdf78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5cc5b2caccd1e0a310472b79c507ee314f5bb6728c3e83e59d100aab3d1571e"
  },
  "id": "fhLl3iiCBt0DzGM5",
  "tags": []
}