Desktop/ghl-n8n-revenue-tracking-system/n8n-workflows/Campaign and Ad Label Updates.json
{
  "name": "Campaign and Ad Label Updates",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblJOYDGjaBNcu4av",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblJOYDGjaBNcu4av"
        },
        "filterByFormula": "={Ad Label} = \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        -128
      ],
      "id": "493a4b1e-797a-464b-b427-52a7b9721e94",
      "name": "Search records",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblJOYDGjaBNcu4av",
          "mode": "list",
          "cachedResultName": "Ads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblJOYDGjaBNcu4av"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Ad Name": "={{ $json.fields['Ad Name'] }}",
            "Ad Label": "={{ $json.fields['Ad Name'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ad Name",
              "displayName": "Ad Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Ad ID",
              "displayName": "Facebook Ad ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad Label",
              "displayName": "Ad Label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "7k members_N",
                  "value": "7k members_N"
                },
                {
                  "name": "Hook 2 - Samir 6 150k loss_N",
                  "value": "Hook 2 - Samir 6 150k loss_N"
                },
                {
                  "name": "Hook 2 - Samir 6 150k loss",
                  "value": "Hook 2 - Samir 6 150k loss"
                },
                {
                  "name": "Video 6 - Idea 7 (3m t7awlo t3mlo masare)",
                  "value": "Video 6 - Idea 7 (3m t7awlo t3mlo masare)"
                },
                {
                  "name": "انسى التداول",
                  "value": "انسى التداول"
                },
                {
                  "name": "1% League Ad Vertical – Copy",
                  "value": "1% League Ad Vertical – Copy"
                },
                {
                  "name": "C3",
                  "value": "C3"
                },
                {
                  "name": "Hook 1 - Samir 1 re edit_N",
                  "value": "Hook 1 - Samir 1 re edit_N"
                },
                {
                  "name": "Hook 1 - Samir 1 re edit",
                  "value": "Hook 1 - Samir 1 re edit"
                },
                {
                  "name": "Ras Melak new AB",
                  "value": "Ras Melak new AB"
                },
                {
                  "name": "Hook 4 - Samir 8_N",
                  "value": "Hook 4 - Samir 8_N"
                },
                {
                  "name": "Ad 7k",
                  "value": "Ad 7k"
                },
                {
                  "name": "7k members updated",
                  "value": "7k members updated"
                },
                {
                  "name": "Hook 4 - Samir 8",
                  "value": "Hook 4 - Samir 8"
                },
                {
                  "name": "Ad 2",
                  "value": "Ad 2"
                },
                {
                  "name": "Reel 07",
                  "value": "Reel 07"
                },
                {
                  "name": "OPL _1",
                  "value": "OPL _1"
                },
                {
                  "name": "انت شو رأيك؟",
                  "value": "انت شو رأيك؟"
                },
                {
                  "name": "Ad 3",
                  "value": "Ad 3"
                },
                {
                  "name": "Ad 4",
                  "value": "Ad 4"
                },
                {
                  "name": "أنت شو رأيك",
                  "value": "أنت شو رأيك"
                },
                {
                  "name": "أنت شو رأيك؟",
                  "value": "أنت شو رأيك؟"
                },
                {
                  "name": "New 01",
                  "value": "New 01"
                },
                {
                  "name": "Ad 5",
                  "value": "Ad 5"
                },
                {
                  "name": "Ad 03",
                  "value": "Ad 03"
                },
                {
                  "name": "Ad 02",
                  "value": "Ad 02"
                },
                {
                  "name": "Ad 04",
                  "value": "Ad 04"
                },
                {
                  "name": "Ad 05",
                  "value": "Ad 05"
                },
                {
                  "name": "حابب تستثمر بعقار أو بالأسهم؟",
                  "value": "حابب تستثمر بعقار أو بالأسهم؟"
                },
                {
                  "name": "اديه صرت خسران بالتداول؟",
                  "value": "اديه صرت خسران بالتداول؟"
                },
                {
                  "name": "15,000% - Reel",
                  "value": "15,000% - Reel"
                },
                {
                  "name": "اللى ما اتعلمته بالمدارس",
                  "value": "اللى ما اتعلمته بالمدارس"
                },
                {
                  "name": "ياتغير ياتعدل",
                  "value": "ياتغير ياتعدل"
                },
                {
                  "name": "Reel 13",
                  "value": "Reel 13"
                },
                {
                  "name": "1% - للتداول سر",
                  "value": "1% - للتداول سر"
                },
                {
                  "name": "OPL Arabs Community",
                  "value": "OPL Arabs Community"
                },
                {
                  "name": "Master Class AR",
                  "value": "Master Class AR"
                },
                {
                  "name": "C3 – Copy",
                  "value": "C3 – Copy"
                },
                {
                  "name": "1% League Ad Vertical",
                  "value": "1% League Ad Vertical"
                },
                {
                  "name": "Master Class EN",
                  "value": "Master Class EN"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Ended",
                  "value": "Ended"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Leads",
              "displayName": "Total Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Qualified",
              "displayName": "Total Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Ad Spend",
              "displayName": "Total Ad Spend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Booked",
              "displayName": "Total Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Closed",
              "displayName": "Total Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Showed",
              "displayName": "Total Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Cash Collected",
              "displayName": "Total Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Lead",
              "displayName": "Cost per Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Qualified Lead",
              "displayName": "Cost per Qualified Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ROAS",
              "displayName": "ROAS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Booked Call",
              "displayName": "Cost per Booked Call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Close",
              "displayName": "Cost per Close",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Show",
              "displayName": "Cost per Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Qualified Rate",
              "displayName": "Qualified Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Booking Rate",
              "displayName": "Booking Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Show-up Rate",
              "displayName": "Show-up Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Close-to-Show Ratio",
              "displayName": "Close-to-Show Ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad Spend",
              "displayName": "Ad Spend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        -128
      ],
      "id": "9e537bb7-dbdc-41fb-b9f0-0af6b6b5e8f8",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblVZjyl6QVJBhEYW",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblVZjyl6QVJBhEYW"
        },
        "filterByFormula": "={Campaign Label} = \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        224,
        128
      ],
      "id": "1db6ad41-50e5-46f3-9e4e-057e93cfaf6f",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblVZjyl6QVJBhEYW",
          "mode": "list",
          "cachedResultName": "Campaigns",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblVZjyl6QVJBhEYW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Campaign Label": "={{ $json.fields['Campaign Name'] }}",
            "Campaign Name": "={{ $json.fields['Campaign Name'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign Label",
              "displayName": "Campaign Label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "QA Leads - Dec 2025 - ABO",
                  "value": "QA Leads - Dec 2025 - ABO"
                },
                {
                  "name": "1% Academy / Signals - LB - Dec 25 (ABO)",
                  "value": "1% Academy / Signals - LB - Dec 25 (ABO)"
                },
                {
                  "name": "1% Academy LB - Lebanon - ABO",
                  "value": "1% Academy LB - Lebanon - ABO"
                },
                {
                  "name": "KSA Leads - Jan 26 - ABO",
                  "value": "KSA Leads - Jan 26 - ABO"
                },
                {
                  "name": "1% Academy - Syria - ABO",
                  "value": "1% Academy - Syria - ABO"
                },
                {
                  "name": "T - Syria - March 26",
                  "value": "T - Syria - March 26"
                },
                {
                  "name": "T - 1% Academy - UAE",
                  "value": "T - 1% Academy - UAE"
                },
                {
                  "name": "T - 1% Academy - Syria",
                  "value": "T - 1% Academy - Syria"
                },
                {
                  "name": "T - Lebanon - March 26",
                  "value": "T - Lebanon - March 26"
                },
                {
                  "name": "1% Academy LB - Jordan - ABO",
                  "value": "1% Academy LB - Jordan - ABO"
                },
                {
                  "name": "T - 1% Academy - LB - New Ads",
                  "value": "T - 1% Academy - LB - New Ads"
                },
                {
                  "name": "T - 1% Academy - Lebanon - March 26",
                  "value": "T - 1% Academy - Lebanon - March 26"
                },
                {
                  "name": "T - 1% Academy - Syria - March 26",
                  "value": "T - 1% Academy - Syria - March 26"
                },
                {
                  "name": "T - 1% Academy - KSA",
                  "value": "T - 1% Academy - KSA"
                },
                {
                  "name": "1% Academy LB - New Campaign - ABO",
                  "value": "1% Academy LB - New Campaign - ABO"
                },
                {
                  "name": "T - 1% Academy - Qatar",
                  "value": "T - 1% Academy - Qatar"
                },
                {
                  "name": "T - 1% Academy - GR",
                  "value": "T - 1% Academy - GR"
                },
                {
                  "name": "T - 1% Academy - UAE - DM",
                  "value": "T - 1% Academy - UAE - DM"
                },
                {
                  "name": "T - Leads - Israel",
                  "value": "T - Leads - Israel"
                },
                {
                  "name": "Master Class - April 26",
                  "value": "Master Class - April 26"
                },
                {
                  "name": "SY Leads - April 26",
                  "value": "SY Leads - April 26"
                },
                {
                  "name": "T - 1% Academy - Israel",
                  "value": "T - 1% Academy - Israel"
                },
                {
                  "name": "1% Academy SY - April 26",
                  "value": "1% Academy SY - April 26"
                },
                {
                  "name": "KSA Leads - April 26",
                  "value": "KSA Leads - April 26"
                },
                {
                  "name": "JO Leads - April 26",
                  "value": "JO Leads - April 26"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Ended",
                  "value": "Ended"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total Leads",
              "displayName": "Total Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Qualified",
              "displayName": "Total Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Booked",
              "displayName": "Total Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Showed",
              "displayName": "Total Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Closed",
              "displayName": "Total Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total No Shows",
              "displayName": "Total No Shows",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Ad Spend",
              "displayName": "Total Ad Spend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Total Cash Collected",
              "displayName": "Total Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "ROAS",
              "displayName": "ROAS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Lead",
              "displayName": "Cost per Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Qualifed Lead",
              "displayName": "Cost per Qualifed Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Booked Call",
              "displayName": "Cost per Booked Call",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Show",
              "displayName": "Cost per Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cost per Close",
              "displayName": "Cost per Close",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Cash per Close",
              "displayName": "Cash per Close",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Qualified Rate",
              "displayName": "Qualified Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Booking Rate",
              "displayName": "Booking Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Show-up Rate",
              "displayName": "Show-up Rate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Close-to-Show Ratio",
              "displayName": "Close-to-Show Ratio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad Spend",
              "displayName": "Ad Spend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Campaign ID",
              "displayName": "Facebook Campaign ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ads",
              "displayName": "Ads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        416,
        128
      ],
      "id": "62ba9207-b9a3-4f24-b5a9-411ba4df67c7",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        -16
      ],
      "id": "750fe8b3-d3ea-43cc-9845-b96fc22492d1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b359b625-4550-4acd-9fbb-00d1556a2f14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5cc5b2caccd1e0a310472b79c507ee314f5bb6728c3e83e59d100aab3d1571e"
  },
  "id": "kvvmxhpXHbBVtiUO",
  "tags": []
}