Desktop/ghl-n8n-revenue-tracking-system/n8n-workflows/New Lead.json
{
  "name": "New Lead",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2338074c-9d98-487d-a638-6e30af33a90f",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        96
      ],
      "id": "ddf145c3-9602-46b5-88c8-a3ce4b7b834f",
      "name": "Webhook",
      "webhookId": "2338074c-9d98-487d-a638-6e30af33a90f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a152a78f-68bc-45ea-aa6e-33c67e083bc9",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "19daf05d-5c59-4a08-b32c-7c3821514d4f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblevDCN71vXygMBk",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblevDCN71vXygMBk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Lead Name": "={{ $json['Lead Name'] }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Campaign": "={{ $('Webhook').item.json.body.contact.attributionSource.campaign }}",
            "Ad": "={{ $('Webhook').item.json.body.contact.attributionSource.utmContent }}",
            "GHL Contact ID": "={{ $('Webhook').item.json.body.contact_id }}",
            "Cash Collected": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad",
              "displayName": "Ad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Ongoing Convo",
                  "value": "Ongoing Convo"
                },
                {
                  "name": "No Answer",
                  "value": "No Answer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked Call Date",
              "displayName": "Booked Call Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Outcome",
              "displayName": "Call Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Closed Status",
              "displayName": "Closed Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Won",
                  "value": "Won"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Open",
                  "value": "Open"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cash Collected",
              "displayName": "Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Notes",
              "displayName": "Call Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Qualified",
              "displayName": "Is Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Booked",
              "displayName": "Is Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Showed",
              "displayName": "Is Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Closed",
              "displayName": "Is Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Answer",
              "displayName": "Is No Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Lost",
              "displayName": "Is Lost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Show",
              "displayName": "Is No Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Ongoing",
              "displayName": "Is Ongoing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        240
      ],
      "id": "a11e7f17-fa7e-4cfa-9505-9a48ee463683",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblevDCN71vXygMBk",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblevDCN71vXygMBk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone": "={{ $('Webhook').item.json.body.phone }}",
            "Campaign": "={{ $('Webhook').item.json.body.contact.attributionSource.utm_campaign }}",
            "Ad": "={{ $('Webhook').item.json.body.contact.attributionSource.utmContent }}",
            "Lead Status": "Qualified",
            "Qualification": "Qualified",
            "Cash Collected": 0,
            "GHL Contact ID": "={{ $('Webhook').item.json.body.contact_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad",
              "displayName": "Ad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Ongoing Convo",
                  "value": "Ongoing Convo"
                },
                {
                  "name": "No Answer",
                  "value": "No Answer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked Call Date",
              "displayName": "Booked Call Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Outcome",
              "displayName": "Call Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Closed Status",
              "displayName": "Closed Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Won",
                  "value": "Won"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Open",
                  "value": "Open"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cash Collected",
              "displayName": "Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Notes",
              "displayName": "Call Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Qualified",
              "displayName": "Is Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Booked",
              "displayName": "Is Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Showed",
              "displayName": "Is Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Closed",
              "displayName": "Is Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Answer",
              "displayName": "Is No Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Lost",
              "displayName": "Is Lost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Show",
              "displayName": "Is No Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Ongoing",
              "displayName": "Is Ongoing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        0
      ],
      "id": "0fa9cb4b-f230-4182-bb3f-45c306ab4c99",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef9f2e59-c36a-437f-8705-a4bff3ffefa9",
              "leftValue": "={{ $('Webhook').item.json.body.tags }}",
              "rightValue": "disqualified",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -16
      ],
      "id": "e84d1518-aa73-47ed-add8-758b37328d10",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNcmnyA6GpnzlcX",
          "mode": "list",
          "cachedResultName": "Marketing Board",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX"
        },
        "table": {
          "__rl": true,
          "value": "tblevDCN71vXygMBk",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblevDCN71vXygMBk"
        },
        "filterByFormula": "={Email} = \"{{ $json.body.email }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -400,
        96
      ],
      "id": "47e0234d-d893-4788-9562-649f82bd893a",
      "name": "Search records1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "=appNcmnyA6GpnzlcX",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblevDCN71vXygMBk",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appNcmnyA6GpnzlcX/tblevDCN71vXygMBk"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Name": "={{ $('Webhook').item.json.body.full_name }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Phone": "={{ $('Webhook').item.json.body.phone }}",
            "Campaign": "={{ $('Webhook').item.json.body.contact.attributionSource.utm_campaign }}",
            "Ad": "={{ $('Webhook').item.json.body.contact.attributionSource.utmContent }}",
            "GHL Contact ID": "={{ $('Webhook').item.json.body.contact_id }}",
            "Cash Collected": 0,
            "Lead Status": "Not Qualified",
            "Qualification": "Not Qualified",
            "Date Added": "={{ $now.toLocal().format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign",
              "displayName": "Campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad",
              "displayName": "Ad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "Booked",
                  "value": "Booked"
                },
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Ongoing Convo",
                  "value": "Ongoing Convo"
                },
                {
                  "name": "No Answer",
                  "value": "No Answer"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Not Qualified",
                  "value": "Not Qualified"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Booked Call Date",
              "displayName": "Booked Call Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Outcome",
              "displayName": "Call Outcome",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Showed",
                  "value": "Showed"
                },
                {
                  "name": "No Show",
                  "value": "No Show"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Closed Status",
              "displayName": "Closed Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Won",
                  "value": "Won"
                },
                {
                  "name": "Lost",
                  "value": "Lost"
                },
                {
                  "name": "Open",
                  "value": "Open"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cash Collected",
              "displayName": "Cash Collected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Notes",
              "displayName": "Call Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "GHL Contact ID",
              "displayName": "GHL Contact ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is Qualified",
              "displayName": "Is Qualified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Booked",
              "displayName": "Is Booked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Showed",
              "displayName": "Is Showed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Closed",
              "displayName": "Is Closed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Answer",
              "displayName": "Is No Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Lost",
              "displayName": "Is Lost",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is No Show",
              "displayName": "Is No Show",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Is Ongoing",
              "displayName": "Is Ongoing",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        272,
        -192
      ],
      "id": "68ac2bae-030b-4715-992a-b30d6c3b5e39",
      "name": "Create a record3",
      "credentials": {
        "airtableTokenApi": {
          "id": "JJqXRtDPIJtRxIsN",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record1": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a record3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveManualExecutions": true
  },
  "versionId": "e30931dd-0d52-4c94-ab20-f992879f5327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5cc5b2caccd1e0a310472b79c507ee314f5bb6728c3e83e59d100aab3d1571e"
  },
  "id": "1cHCRguBKi5KzHCK",
  "tags": []
}